<a href="/mtgsets" class="small-link left">Set Index</a>
<a href="/cards" class="small-link">Cards Index</a>
<a href="/mtgsets/<%= @mtgset.id %>/cards">View Cards</a>

<a href="/mtgsets/<%= @mtgset.id %>/edit">Edit Set</a>
<h1><%= @mtgset.set_name %></h1>
<p>Set Name: <%= @mtgset.set_name %></p>
<p>Collection Number: <%= @mtgset.collection_number %></p>
<p>Current Set: <%= @mtgset.current_set %></p>
